<div class="register-dialog">
  <h1 mat-dialog-title>Rejestracja</h1>
  <form class="form" [formGroup]="registerForm" (ngSubmit)="onRegister()" *ngIf="!loading">
  <div mat-dialog-content class="register-content">
    <table class="form-field">
      <tr>
        <td>
          <mat-form-field class="form-field">
            <input type="text" matInput formControlName="firstname" placeholder="Imię">
            <mat-error *ngIf="registerForm.get('firstname').invalid">{{getErrorMessage("firstname")}}</mat-error>
          </mat-form-field>
        </td>
        <td>
          <mat-form-field class="form-field">
            <input type="text" matInput formControlName="lastname" placeholder="Nazwisko">
            <mat-error *ngIf="registerForm.get('lastname').invalid">{{getErrorMessage("lastname")}}</mat-error>
          </mat-form-field>
        </td>
      </tr>
    </table>
    <mat-form-field class="form-field">
      <input type="tel" matInput formControlName="phone" placeholder="Telefon">
      <mat-error *ngIf="registerForm.get('phone').invalid">{{getErrorMessage("phone")}}</mat-error>
    </mat-form-field>
    <mat-form-field class="form-field">
      <input type="email" matInput formControlName="email" placeholder="Email">
      <mat-error *ngIf="registerForm.get('email').invalid">{{getErrorMessage("email")}}</mat-error>
    </mat-form-field>
    <mat-form-field class="form-field">
      <input type="password" matInput formControlName="password" placeholder="Hasło">
      <mat-error *ngIf="registerForm.get('password').invalid">{{getErrorMessage("password")}}</mat-error>
    </mat-form-field>
    <mat-form-field class="form-field">
      <input type="password" matInput formControlName="confirm_password"  [errorStateMatcher]="matcher" placeholder="Powtórz hasło">
      <mat-error *ngIf="registerForm.hasError('notSame')">{{getErrorMessage("confirm_password")}}</mat-error>
    </mat-form-field>
  </div>
  <div mat-dialog-actions class="register-actions-btn">
    <button mat-flat-button class="custom-register" type="submit">Zarejestruj się</button>
  </div>
  </form>
  <div *ngIf="loading" class="spinner">
    <mat-spinner></mat-spinner>
  </div>
</div>