<div class="app-user-settings">
  <div class="container">
      <div class="row">
        <div class="col-md-6 user-panel">
          <app-user-data [user]="user"></app-user-data>
        </div>
        <div class="col-md-6 user-panel">
            <mat-card>
                <mat-card-subtitle>Opinie</mat-card-subtitle>
                <mat-card-content></mat-card-content>
            </mat-card>
        </div>
        <div class="col-md-6 user-panel">
            <mat-card>
                <mat-card-subtitle>Restauracje</mat-card-subtitle>
                <mat-card-content></mat-card-content>
            </mat-card>
        </div>
    </div>
  </div>
</div>