<div class="app-user-settings">
  <div class="container">
      <div class="row">
        <div class="col-md-6 user-panel">
          <mat-card>
              <mat-card-subtitle>Moje dane</mat-card-subtitle>
              <mat-card-content>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magni ipsam impedit commodi recusandae molestias quasi odit, quisquam possimus magnam obcaecati ex architecto accusamus reprehenderit, quos repellendus praesentium voluptatum error cum quo omnis voluptate veritatis deserunt. Inventore deserunt cupiditate maxime eos a voluptatibus deleniti illum praesentium dignissimos nisi? Natus autem officia assumenda placeat facere totam, perferendis nesciunt animi necessitatibus commodi eaque impedit culpa quisquam ex dolorem veritatis nam nobis neque minima mollitia! Facilis asperiores sapiente deserunt culpa nobis laboriosam corporis voluptates, nihil dolores ipsum, quasi quis ratione amet eligendi excepturi odit animi fuga atque! Ducimus obcaecati voluptatibus voluptatem, doloribus dignissimos minima.</mat-card-content>
          </mat-card>
        </div>
        <div class="col-md-6 user-panel">
            <mat-card>
                <mat-card-subtitle>Opinie</mat-card-subtitle>
                <mat-card-content>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum totam, officia quisquam qui enim neque dolorem voluptatem nesciunt fuga non molestiae quo. Rem nulla numquam dicta, deleniti voluptatibus aliquid repellat obcaecati possimus eum illum recusandae voluptatum, in vel, ducimus tempora expedita illo atque similique debitis eveniet corrupti pariatur fugiat? Explicabo sit, quia quae accusantium corrupti dolore repellendus maxime culpa nisi reiciendis fugit pariatur aspernatur dolor voluptatem tempora blanditiis quas quam deleniti ullam sint expedita optio. Nobis iusto eligendi facilis provident quod numquam ut perferendis, sint consectetur nam sit vel mollitia quas recusandae quia itaque facere fugiat voluptatum asperiores vero quos.</mat-card-content>
            </mat-card>
        </div>
        <div class="col-md-6 user-panel">
            <mat-card>
                <mat-card-subtitle>Restauracje</mat-card-subtitle>
                <mat-card-content>Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi magni quia molestiae tempore fugit amet optio? Id tenetur fugiat facilis.</mat-card-content>
            </mat-card>
        </div>
    </div>
  </div>
</div>