.app-reviews{
    margin-bottom: 40px;
    .review{
        .star-title{
            margin: 0;
            font-size: .9em;
            font-weight: 600;
        }
        .date{
            color: gray;
            text-align: center;
            font-weight: 200;
        }
        .comment{
            color: gray;
            font-weight: 200;
            margin: 0;
        }
    }
}