.admin-dashboard{
    .chart-box{
        margin: 1em 0;
    }
    .loading{
        width: 100%;
        height: calc(100vh - 80px);
        display: flex;
        align-items: center;
        justify-content: center;
    }
}