<mat-card [@openClose]="(isOpen | async) ? 'open' : 'closed'" class="app-basket-preview">
  <div *ngFor="let product of basketProducts">
    <button mat-icon-button color="warn" (click)="removeProduct(product)"><mat-icon>remove_circle</mat-icon></button>
    1x {{ product.name }} {{ product.price }}zł
    <button mat-icon-button color="primary" (click)="addProduct(product)"><mat-icon>add_circle</mat-icon></button>
  </div>
  <div *ngIf="!basketProducts || basketProducts.length == 0">Twoje zamówienie jest puste.</div>
  <hr>
  <div *ngIf="basketProducts && basketProducts.length > 0"><h6>Koszt zamówienia: {{ totalCost() }}zł</h6></div>
  <div class="buttons">
    <button mat-flat-button color="warn" *ngIf="basketProducts && basketProducts.length > 0">Zamów</button>
    <button mat-flat-button color="primary" (click)="closeBasket()">Kontynuuj</button>
  </div>
</mat-card>