<div class="orders-panel">
  <p class="section-title">Historia zamówień</p>
  <mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
            Zamówienie #13
        </mat-panel-title>
        <mat-panel-description>
            12.10.2018 14:49
        </mat-panel-description>
      </mat-expansion-panel-header>
      <div class="row align-items-center">
          <div class="col-lg-4 col-md-6 col-sm-6 order-details">
            <ul>
              <li>1x Margherita 29zł</li>
              <li>1x Hawajska 29zł</li>
            </ul>
          </div>
          <div class="col-lg-4 col-md-6 col-sm-6 order-details">
            <p>Nocne Gastro, Wrocław</p>
          </div>
          <div class="col-lg-4 col-md-12 col-sm-12 order-status">
            <h6>Status:
              <span class="badge badge-pill badge-secondary">Zrealizowane</span>
            </h6>
            <h5>Łączny koszt: 59zł</h5>
          </div>
        </div>
    </mat-expansion-panel>
  </mat-accordion>
</div>