.app-order-payments{
    .mat-radio-group{
        .mat-radio-button{
            padding-right: 25%;
            padding-top: 1em;
        }
    }
    button{
        display: block;
        margin: 3em auto 2em auto;
        color: #fff;
    }
}