<div class="app-management" *ngIf="!loading">
    <mat-toolbar color="warn">
      <button mat-icon-button (click)="snav.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
      <h1 class="title">{{restaurant.name}}</h1>
    </mat-toolbar>
  
    <mat-sidenav-container class="sidenav-container">
      <mat-sidenav
        #snav
        [opened]="true"
        [mode]="mobileQuery.matches ? 'over' : 'side'"
        [fixedInViewport]="mobileQuery.matches"
        fixedTopGap="56"
      >
        <mat-nav-list>
          <a [routerLink]="['dashboard']" [routerLinkActive]="['active']" mat-list-item><mat-icon>dashboard</mat-icon>Kokpit</a>
          <a *ngIf="hasRestaurantRole([role.Owner, role.Cook])" [routerLink]="['orders']" [routerLinkActive]="['active']" mat-list-item><mat-icon>update</mat-icon>Zamówienia</a>
          <a *ngIf="hasRestaurantRole([role.Owner, role.Manager])" [routerLink]="['store']" [routerLinkActive]="['active']" mat-list-item><mat-icon>storage</mat-icon>Magazyn</a>
          <a *ngIf="hasRestaurantRole([role.Owner])" [routerLink]="['customizations']" [routerLinkActive]="['active']" mat-list-item><mat-icon>scatter_plot</mat-icon>Definicje</a>
          <a *ngIf="hasRestaurantRole([role.Owner])" [routerLink]="['settings']" [routerLinkActive]="['active']" mat-list-item><mat-icon>settings</mat-icon>Ustawienia</a>
          <a (click)="logout()" mat-list-item><mat-icon>input</mat-icon>Wyloguj</a>
        </mat-nav-list>
      </mat-sidenav>
  
      <mat-sidenav-content>
        <div class="container">
          <router-outlet></router-outlet>
        </div>
      </mat-sidenav-content>
  
    </mat-sidenav-container>

</div>