.app-rate-dialog{
    .review-row{
        display: flex;
        align-items: center;
        justify-content: space-between;
        .stars{
            margin-bottom: 5px;
            margin-left: 50px;
        }
    }
    .form-field{
        width: 100%;
    }
    .on-confirm{
        width: 100%;
        margin-bottom: 1em;
    }
}