.app-restaurant-employees{
    .restaurant-employees-header{
        h5{
            display: inline;
        }
        button{
            float: right;
            color: #fff;
        }
    }
    .restaurant-employees{
        .emplyee-row{
            display: flex;
            align-items: center;
            padding: 1em 0;
            p{
                margin: 0;
                width: 200px;
                span{
                    font-weight: bold;
                }
            }
        }
        button{
            margin-left: 10px;
        }
    }
}