<div class="app-menu">
  <div *ngFor="let pizza of restaurant.pizzas">
    <div class="menu-item">
      <mat-card>
        <div class="row content">
            <div class="title col-sm-7">
              <h2>{{ pizza.name }}</h2>
              <span *ngFor="let ingredient of pizza.ingredients; let last = last;">
                {{ingredient.name}}<ng-container *ngIf="!last">,</ng-container>
              </span>
            </div>
            <div class="cost col-sm-2">
              <h4>{{ pizza.price }}zł</h4>
            </div>
            <div class="buttons col-md-3">
              <button [routerLink]="['../creator', pizza.id]" mat-mini-fab color="primary" matTooltip="Edytuj pizze"><mat-icon>pizza</mat-icon></button>
              <button mat-mini-fab color="primary" matTooltip="Dodaj do zamówienia" (click)="addToBasket(pizza)"><mat-icon>add</mat-icon></button>
            </div>
        </div>
      </mat-card>
    </div>
  </div>
</div>
