<div class="app-select-restaurant">
  <div class="restaurant-cards">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-3">
          <button mat-raised-button [routerLink]="[1]">
            <img class="img-fluid" src="assets/dagrasso.jpg" alt="">
            <h4>Da Grasso</h4>
            <p>Wrocław</p>
          </button>
        </div>
        <div class="col-md-3">
          <button mat-raised-button [routerLink]="[2]">
            <img class="img-fluid" src="assets/dagrasso.jpg" alt="">
            <h4>Da Grasso</h4>
            <p>Legnica</p>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>