@import 'styles.scss';
.app-select-restaurant{
    .restaurant-cards{
        min-height: 100vh;
        padding: 1em 0;
        display: flex;
        align-items: center;
        justify-content: center;
        .mat-raised-button{
            text-align: center;
            background-color: $secondary-color;
            color: #fff;
            padding: 2em;
            margin: 1em 0;
            width: 100%;
            white-space: normal;
            p{
                margin: 0;
            }
        }
    }
}