.app-restaurant-data{
    .restaurant-data-header{
        h5{
            display: inline;
        }
        button{
            float: right;
            margin-left: 1em;
        }
    }
    span{
        font-weight: 500;
    }
}