<div class="app-navbar">
    <div class="logo">
        <a [routerLink]="['/']">
            <img src="../../../../assets/logo.png" alt="">
            <h5>PizzaOrders</h5>
        </a>
    </div>
    <div class="btn-icons">
        <button mat-icon-button (click)="openOrderPreview()">
            <mat-icon [matBadge]="itemsInOrder" [matBadgeHidden]="itemsInOrder==0" matBadgePosition="before">shopping_basket</mat-icon>
        </button>
        <button mat-icon-button [matMenuTriggerFor]="menu">
            <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
            <div *ngIf="isLoggedIn" mat-menu-item disabled class="text-center"><mat-icon>person_pin</mat-icon>{{ user.name }}</div>
            <mat-divider *ngIf="isLoggedIn"></mat-divider>
            <button *ngIf="!isLoggedIn" (click)="openAuthDialog()" mat-menu-item>Logowanie</button>
            <ng-container *ngIf="isLoggedIn">
                <button *ngIf="user.isAdmin()" [routerLink]="['/', 'admin']"  mat-menu-item>Administracja</button>
                <button *ngIf="user.isAnyRestaurantMember()" [routerLink]="['/','management']"  mat-menu-item>Moje restauracje</button>
                <button [routerLink]="['/', 'user', 'orders']"  mat-menu-item>Moje zamówienia</button>
                <button [routerLink]="['/', 'user', 'data']"  mat-menu-item>Moje dane</button>
                <button (click)="openRegisterRestaurantDialog()" mat-menu-item>Zarejestruj pizzerie</button>
                <button (click)="logout()" mat-menu-item>Wyloguj</button>
            </ng-container>
        </mat-menu>
    </div>
</div>
