.restaurant-edit-dialog{
    max-width: 40vw;
    .form-field{
        width: 100%;
    }
    .select-file-button{
        width: 90%;
    }
    .on-confirm{
        width: 100%;
        margin-bottom: 1em;
    }
}