@import "styles.scss";
.app-admin {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  .title {
    margin-left: 14px;
  }

  .sidenav-container {
    flex: 1;
    .mat-list-item {
      min-width: 200px;
      color: $sidebar-text-color;
      &.active {
        background-color: $secondary-color;
        color: #fff;
      }
      .mat-icon {
        margin-right: 12px;
      }
    }
  }
}
