.rating {
    float:left;
    margin-right: 8px;
}

.rating:not(:checked) > input {
    position:absolute;
    top:-9999px;
    clip:rect(0,0,0,0);
}

.rating:not(:checked) > label {
    float:right;
    width:1em;
    padding:0.1em;
    overflow:hidden;
    white-space:nowrap;
    cursor:pointer;
    line-height:1.2;
    color:#ddd;
}

.rating:not(:checked) > label:before {
    content: '★ ';
}

.rating > input:checked ~ label {
    color: #f70;
}

.rating:not(:checked) > label:hover,
.rating:not(:checked) > label:hover ~ label {
    color: gold;
}


.rating > input:checked ~ label:hover,
.rating > input:checked ~ label:hover ~ label,
.rating > label:hover ~ input:checked ~ label {
    color: #ea0;
}
 
.nonclick:not(:checked) > label:hover,
.nonclick:not(:checked) > label:hover ~ label {
    color: #ddd;
}


.nonclick > input:checked ~ label:hover,
.nonclick > input:checked ~ label:hover ~ label,
.nonclick > label:hover ~ input:checked ~ label {
    color: #f70;
}

.nonclick > label{
    cursor: default !important;
}
