.app-restaurant-orders{
    .restaurant-orders{
        margin-top: 1em;
        padding: 2px;
    }
    .order-filter-buttons{
        button{
            width: 100%;
            height: 50px;
        }
    }
}
