.app-informations{
    .information{
        .address, .phone{
            display: flex;
            .mat-icon{
                font-size: 1.6em;
                margin-right: 10px;
            }
        }
    }
    .map{
        margin-top: 20px;
    }
}