@import 'styles';
.app-user-orders{
    margin-top: $navbar-height + 40px;
    .section-title{
        margin-bottom: 1em;
        color: #9b9b9b;
        font-weight: 600;
    }
    .not-found{
        margin-top: 30vh;
        text-align: center;
        color: gray;
        .mat-icon{
            font-size: 3em;
            width: 100%;
        }
    }
}
