<div class="app-user-orders">
  <div class="container">
    <div class="row justify-content-md-center">
      <div class="col-md-10">
        <ng-container *ngIf="currentOrder">
          <p class="section-title">Zamówienia w toku</p>          
          <app-progress-order [order]="currentOrder"></app-progress-order>
        </ng-container>
        <ng-container *ngIf="!currentOrder" >
          <div class="not-found">
              <mat-icon>error_outline</mat-icon>
              <h4>Aktualnie brak zamówień.</h4>
          </div>
        </ng-container>
      </div>
    </div>
  </div>
</div>