<div class="app-sidebar">
  <div class="box">
      <mat-nav-list>
          <a [routerLink]="['/menu']" [routerLinkActive]="['active']" mat-list-item><mat-icon>local_dining</mat-icon>Menu</a>
          <a [routerLink]="['/creator']" [routerLinkActive]="['active']" mat-list-item><mat-icon>local_pizza</mat-icon>Kreator</a>
          <a [routerLink]="['/offers']" [routerLinkActive]="['active']" mat-list-item><mat-icon>local_offer</mat-icon>Oferty</a>
          <a [routerLink]="['/informations']" [routerLinkActive]="['active']" mat-list-item><mat-icon>info</mat-icon>Informacje</a>
          <a [routerLink]="['/opinions']" [routerLinkActive]="['active']" mat-list-item><mat-icon>comment</mat-icon>Opinie</a>
        </mat-nav-list>
  </div>
</div>