.app-restaurant-store{
    .restaurant-store-header{
        hr{
            margin-top: 0;
        }
        h5{
            display: inline;
        }
        .add-ingredient{
            float: right;
            .mat-form-field{
                margin-right: 1em;
            }
            button{
                color: #fff;
            }
        }
    }
    .restaurant-store{
        .store-item{
            margin-bottom: 1em;
        }
        button{
            margin-left: 10px;
        }
    }
}