<div class="app-sidebar">
  <div class="restaurant-info">
    <div class="row">
      <div class="col-4">
        <img [src]="restaurant.photo" alt="">
      </div>
      <div class="col-8 nopadding">
        <div class="restaurant-name">
          <h3>{{ restaurant.name }}</h3>
        </div>
        <div class="rating">
            <app-rating [rating]='3' [itemId]='0' [clickable]="false"></app-rating>
        </div>
      </div>
    </div>
  </div>
  <div class="box">
      <mat-nav-list>
          <a [routerLink]="['menu']" [routerLinkActive]="['active']" mat-list-item><mat-icon>local_dining</mat-icon>Menu</a>
          <a [routerLink]="['creator']" [routerLinkActive]="['active']" mat-list-item><mat-icon>local_pizza</mat-icon>Kreator</a>
          <a [routerLink]="['offers']" [routerLinkActive]="['active']" mat-list-item><mat-icon>local_offer</mat-icon>Oferty</a>
          <a [routerLink]="['informations']" [routerLinkActive]="['active']" mat-list-item><mat-icon>info</mat-icon>Informacje</a>
          <a [routerLink]="['reviews']" [routerLinkActive]="['active']" mat-list-item><mat-icon>comment</mat-icon>Opinie</a>
        </mat-nav-list>
  </div>
</div>