@import 'styles';
.app-sidebar{
    @include md{
        margin-bottom: 1em;
    }
    .restaurant-info{
        img{
            width: 100%;
        }
    }
    .box{
        margin-top: 1em;
        background-color: #fff;
        .mat-nav-list{
            padding-top: 0;
            .mat-icon{
                margin-right: 12px;
            }
        }
        a{
            font-weight: 700;
            color: $sidebar-text-color;
            &.active{
                //background-color: darken($color: $tethriary-color, $amount: 5);
                background-color: $secondary-color;
                color: #fff;
            }
            &:hover{
                background-color: $secondary-color;
                color: #fff;
            }
        }
    }
}
