<div class="login-dialog">
  <h1 mat-dialog-title>Logowanie</h1>
  <form class="form" [formGroup]="loginForm" (ngSubmit)="onLogin()" *ngIf="!loading">
    <div mat-dialog-content class="login-content">
      <mat-form-field class="form-field">
        <input matInput type="email" formControlName="email" placeholder="Email">
        <mat-error *ngIf="loginForm.get('email').invalid">{{getErrorMessage("email")}}</mat-error>
      </mat-form-field>
      <mat-form-field class="form-field">
        <input matInput type="password" formControlName="password" placeholder="Hasło">
        <mat-error *ngIf="loginForm.get('password').invalid">{{ getErrorMessage("password") }}</mat-error>
      </mat-form-field>
    </div>
    <div mat-dialog-actions class="login-actions-btn">
      <mat-error *ngIf="error">{{ error }}</mat-error>
      <button mat-flat-button class="custom-login" type="submit">Zaloguj się</button>
      <p class="lbl">lub</p>
      <button mat-flat-button class="fb-login" (click)="onFacebookLogin()"><i class="fab fa-facebook-f"></i> Zaloguj się z Facebook</button>
      <p class="sgup">Nie masz jeszcze konta? <a (click)="openRegisterDialog()">Zarejestruj się</a></p>
    </div>
  </form>
  <div *ngIf="loading" class="spinner">
      <mat-spinner></mat-spinner>
  </div>
</div>