@import 'styles.scss';
.register-dialog{
    min-width: 350px;
    min-height: 320px;
    .form{
        .form-field{
            width: 100%;
        }
    }  
    .register-actions-btn{
        .custom-register{
            width: 100%;
            height: 46px;
            background-color: $secondary-color !important;
            color: #fff !important;
            margin-top: 4px;
            margin-bottom: 1.2em;
        }
    }
    .spinner{
        display: flex;
        align-items: center;
        justify-content: center;
        height: 80%;
    }
}
