<div class="register-dialog">
  <h1 mat-dialog-title>Rejestracja pizzerii</h1>
  <form class="form" [formGroup]="registerForm" (ngSubmit)="onRegister()" *ngIf="!loading">
  <div mat-dialog-content class="register-content">

    <mat-form-field class="form-field">
      <input type="text" matInput formControlName="restaurant_name" placeholder="Nazwa restauracji">
      <mat-error *ngIf="registerForm.get('restaurant_name').invalid">{{getErrorMessage("restaurant_name")}}</mat-error>
    </mat-form-field>

    <table class="form-field">
      <tr>
        <td>
          <mat-form-field class="form-field">
            <input type="text" matInput formControlName="city" placeholder="Miasto">
            <mat-error *ngIf="registerForm.get('city').invalid">{{getErrorMessage("city")}}</mat-error>
          </mat-form-field>
        </td>
        <td>
          <mat-form-field class="form-field">
            <input type="tel" matInput formControlName="phone" placeholder="Telefon">
            <mat-error *ngIf="registerForm.get('phone').invalid">{{getErrorMessage("phone")}}</mat-error>
          </mat-form-field>
        </td>
      </tr>
    </table>

    <mat-form-field class="form-field">
      <input type="text" matInput formControlName="adress" placeholder="Adres">
      <mat-error *ngIf="registerForm.get('adress').invalid">{{getErrorMessage("adress")}}</mat-error>
    </mat-form-field>

  </div>
  <div mat-dialog-actions class="register-actions-btn">
    <button mat-flat-button class="custom-register" type="submit">Zarejestruj pizzerie</button>
  </div>
  </form>
  <div *ngIf="loading" class="spinner">
    <mat-spinner></mat-spinner>
  </div>
</div>