<mat-card class="restaurant-preview">
  <div class="row">
    <div class="col-4">
      <img class="img-fluid" src="/assets/hanoi.png" alt="">
    </div>
    <div class="col-8 align-self-center">
      <h5>Da Grasso Legnica</h5>
    </div>
  </div>
</mat-card>
<br>
<mat-card class="summary-order">
  <mat-card-subtitle>Twoje zamówienie</mat-card-subtitle>
  <mat-card-content>
    <div *ngFor="let product of orderProducts" class="product">
      <div class="row">
        <div class="col-8">
          <p class="product-name">{{ product.name }}</p>
          <p class="product-ingredients">
            składnik1, składnik2, składnik3
          </p>
        </div>
        <div class="col-4 text-right align-self-center">
          <span class="product-price">{{ product.price }}zł</span>
        </div>
      </div>
    </div>
    <hr>
    <div *ngIf="!orderProducts || orderProducts.length == 0">Twoje zamówienie jest puste.</div>
    <div *ngIf="orderProducts && orderProducts.length > 0">
      <h6 class="total-cost">Koszt zamówienia: {{ totalCost() }}zł</h6>
    </div>
  </mat-card-content>
</mat-card>