<div class="app-basket-preview">
  <div *ngFor="let product of orderProducts" class="product">
    <span class="product-name">{{ product.name }}</span>
    <span class="product-price">{{ product.price }}zł</span>
    <span class="product-actions">
        <button mat-icon-button color="warn" (click)="removeProduct(product)"><mat-icon>remove</mat-icon></button>
        <button mat-icon-button color="primary" (click)="addProduct(product)"><mat-icon>add</mat-icon></button>
    </span>
    <hr>
  </div>
  <div *ngIf="!orderProducts || orderProducts.length == 0">Twoje zamówienie jest puste.</div>
  <hr>
  <div *ngIf="orderProducts && orderProducts.length > 0"><h6>Koszt zamówienia: {{ totalCost() | number:'0.0-2' }}zł</h6></div>
  <div class="buttons">
    <button mat-flat-button color="warn" (click)="goToCheckout()" *ngIf="orderProducts && orderProducts.length > 0">Zamów</button>
    <button mat-flat-button color="primary" (click)="onClose()">Kontynuuj</button>
  </div>
</div>