@import 'styles.scss';
.app-user-data{
    .mat-card-content{
        i{
            font-size: 5em;
            color: $secondary-color;
        }
        p{
            margin: 0;
            font-size: 1.1em;
        }
    }
}
