@import 'styles.scss';
.app-navbar{
    background: $primary-color;
    height: $navbar-height;
    width: 100%;
    color: $nav-text-color;
    text-align: center;
    position: fixed;
    top: 0;
    z-index: 99;
    .logo{
        width: 100%;
        height: 100%;
        @include sm{
            width: auto;
            float: left;
            margin-left: 40px;
        }
        a{
            display: flex;
            width: fit-content;
            height: 100%;
            margin: auto;
            align-items: center;
            justify-content: center;
        }
        img{
            width: 40px;
            float: left;
        }
        h5{
            font-weight: 800;
            float: left;
            margin: 0;
            margin-left: .5em;
        }
    }
    .btn{
        position: absolute;
        display: inline;
        right: 20px;
        top: 10px;
    }
    .mat-badge-content{
        color: #fff;
    }
}