.orders-panel{
    margin-bottom: 40px;
    .order-header{
        display: flex;
        p{
            width: 100%;
            margin: 0;
            border-bottom: 1px solid #e2e2e2;
        }
    }
    .order-details{
        margin-top: 1em;
        p{
            color: rgba(0, 0, 0, 0.54);
        }
    }
    .order-status{
        margin-top: 1em;
        text-align: center;
        span{
            padding: 8px;
        }
    }
}