<div class="app-navbar">

    <div class="logo">
        <a [routerLink]="['/']">
            <img src="assets/logo.png" alt="">
            <h5>PizzaOrders</h5>
        </a>
    </div>

    <div class="btn">
        <button mat-icon-button>
            <mat-icon>shopping_basket</mat-icon>
        </button>
        <button mat-icon-button>
            <mat-icon>more_vert</mat-icon>
        </button>
    </div>
    <!-- <div class="nav-buttons">
        <button [routerLink]="['/']" mat-button><mat-icon>home</mat-icon>home</button>
        <button [routerLink]="['/menu']" mat-button><mat-icon>local_dining</mat-icon>menu</button>
        <button [routerLink]="['/creator']" mat-button><mat-icon>local_pizza</mat-icon>kreator</button>
        <button [routerLink]="['/offers']" mat-button><mat-icon>local_offer</mat-icon>oferty</button>
        <button [routerLink]="['/account']" mat-button><mat-icon>person</mat-icon>zamówienia</button>
    </div> -->
</div>