@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
@import 'variables';

button:focus {outline:0;}
.mat-raised-button{
    background-color: $primary-color;
    color: #fff;
    text-transform: uppercase;
}
