@import 'mixins';
@import 'variables';

button:focus {outline:0;}
.mat-raised-button{
    background-color: $primary-color !important;
    color: #fff;
    text-transform: uppercase;
}
a{
    text-decoration: inherit;
    color: inherit;
}
.nopadding {
    padding: 0 !important;
 }
