@import 'mixins';
@import 'variables';

button:focus {outline:0;}
.mat-raised-button{
    text-transform: uppercase;
}
.mat-flat-button{
    color: #fff !important;
}
a{
    text-decoration: inherit;
    color: inherit;
}
.nopadding {
    padding: 0 !important;
 }
.snackBarStyle {
    text-align: center !important;
    color: #fff !important;
    background-color: $secondary-color !important;
    span{
        width: 100% !important;
    }
}
p.lead{
    font-size: 1.2em;
    color: #5f5f5f;
    font-weight: 400;
}