<div class="orders-panel">
  <p class="section-title">Historia zamówień</p>
  <mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
            Zamówienie #13
        </mat-panel-title>
        <mat-panel-description>
            12.10.2018 14:49
        </mat-panel-description>
      </mat-expansion-panel-header>
      <div class="row align-items-center">
          <div class="col-lg-8 col-md-12 col-sm-12 order-details">
              <div>
                <p>Własna Pizza: sos pomidorowy, ser, szynka <span class="font-weight-bold">21,00zł</span></p>
              </div>
            </div>
          <div class="col-lg-4 col-md-12 col-sm-12 order-status">
            <h6>Status:
              <span class="badge badge-pill badge-secondary text-uppercase">Zrealizowane</span>
            </h6>
            <h6>Łączny koszt: 59zł</h6>
          </div>
        </div>
    </mat-expansion-panel>
  </mat-accordion>
</div>