@import 'styles.scss';
.app-basket-preview{
    min-width: 250px;
    max-height: 70vh;
    overflow: scroll;
    float: right;
    margin-right: 3em;
    .buttons{
        height: 100%;
        margin-top: 1em;
        button{
            margin: 4px;
            color: #fff;
        }
    }
}