<div class="app-pizza-creator">
  <div class="dragdrop">
    <div class="row">
      <div class="col-md-6">
          <div class="ingredients-panel">
            <div class="ingredients">
              <div class="ingredients-container">
                <div 
                @changePageTrigger
              class="ingredient" 
              *ngFor="let ingredient of displayIngredients" 
              [appMovable]="true" 
              [appMovableReset]="true" 
              appDroppable 
              [matTooltip]="ingredient.name"
              (dragStart)="currentIngredient = ingredient">
                <div [ngStyle]="{'background-image': 'url(' + ingredient.image + ')'}"></div>
              </div>
              </div>
            </div>
          </div>
          <div class="navigation-panel" *ngIf="displayIngredients.length > itemsPerPage">
            <button mat-icon-button color="primary" (click)="prevPage()"><mat-icon>navigate_before</mat-icon></button>
            <button mat-icon-button color="primary" (click)="nextPage()"><mat-icon>navigate_next</mat-icon></button>
          </div>
      </div>
      <div class="col col-md-6">
        <div class="pizza-panel">
          <div 
          class="dropzone" 
          appDropzone 
          (drop)="moveToDropzone(currentIngredient)" 
          (remove)="moveToAvailable(currentIngredient)">
            <div 
            class="ingredient"
            *ngFor="let ingredient of dropzoneIngredients" 
            [appMovable]="true" 
            [appMovableReset]="true"
            appDroppable 
            (dragStart)="currentIngredient = ingredient">
              <div [ngStyle]="{'background-image': 'url(' + ingredient.image + ')'}"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="summary-panel">
    <div class="row align-items-center">
      <div class="col-md-6">
        <span class="font-weight-bold">Dodane składniki:</span>
        <span *ngFor="let ingredient of dropzoneIngredients; let last=last;" @insertRemoveTrigger>
          {{ ingredient.name }}<ng-container *ngIf="!last" >,</ng-container>
        </span>
      </div>
      <div class="col-md-3 text-center">
        <span class="font-weight-bold">Cena: </span>
        <span>{{ totalPrice }}zł</span>
      </div>
      <div class="col-md-3">
        <button mat-flat-button color="primary" (click)="addToOrder()">Dodaj do zamówienia</button>
      </div>
    </div>
  </div>
</div>