@import 'styles.scss';
.app-pizza-creator{
    .dragdrop{
        overflow: hidden;
        .ingredient{
            cursor: move;
            user-select: none;
            width: 80px;
            height: 80px;
            margin: 4px;
            transition: .05s ease-out;
            float: left;
            >div{
                width: 80px;
                height: 80px;
                background-size: contain;
                position: absolute;
                z-index: 999;
                transition-duration: .2s;
            }
            &.dragging{
                >div{
                    transform: scale(1.2);
                }
            }
        }
        .pizza-panel{
            float: right;
            background: url("src/assets/pizza.png") no-repeat 0px 0px;
            background-size: contain;
            background-position: center;
            width: 100%;
            height: 400px;
            z-index: -1;
            .dropzone {
                width: 300px;
                height: 300px;
                margin: auto;
                margin-top: 40px;
                display: flex;
                align-items: center;
                justify-content: center;
                flex-flow: wrap;
                .ingredient{
                    position: absolute;
                    width: 400px;
                    height: 400px;
                    >div{
                        width: 400px;
                        height: 400px;
                    }
                    &.dragging{
                        >div{
                            transform: scale(.4);
                        }
                    }
                }
            }
        }
        
        .ingredients-panel{
            max-width: 420px;
            height: 360px;
            margin: auto;
            .ingredients{
                width: 100%;
                display: flex;
                flex-flow: wrap;
                justify-content: center;
            }
        }
        .col{
            position: inherit;
        }
        .row{
            min-height: 70vh;
            align-items: center;
            justify-content: center;
        }
        .navigation-panel{
            display: flex;
            justify-content: center;
            position: relative;
        }
    }
    .summary-panel{
        padding: 1em;
        position: fixed;
        bottom: 0;
        width: 72%;
        background-color: #fff;
        button{
            float: right;
            width: 100%;
        }
        @include lg{
            position: relative;
            width: auto;
        }
    }
}
.dropzone-activated{
    //background: url("src/assets/restaurant.jpg") no-repeat 0px 0px !important;
}
